@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

.hero-img-box {
  background-image: linear-gradient(rgba(255,20,147, 0.5), rgba(0, 0, 0, 0.8)), url("../images/hero-bg-3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-p-txt-box-register {
  font-size: 1rem;
  margin-top: 55px;
}

.h1-register {
  font-size: 1.5rem;
}

.hero-txt-span {
  font-size: 1rem;
  margin-bottom: 5px;
}

.form-register {
  font-size: 1rem;
  text-align: left;
}

.frm-register-lbl {
  font-family: 'Baloo Thambi', cursive;
  padding-left: 7px;
  margin-right: 10px;
}

.frm-register-input {
  width: 85%;
  font-size: 1rem;
  color: white;
  padding: 10px 0px 10px 10px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
  font-size: 0.9rem;
  color: lightblue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightblue;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightblue;
}

.frm-register-input:hover {
  background-color: #FF1493;
}

.btn-register {
  width: 300px;
  font-size: 1rem;
  letter-spacing: 10px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid white;
}

.btn-register:hover {
  border: 1px solid #FF1493;
}
