html {
  scroll-behavior: smooth;
}

a {
  color: goldenrod;
  text-decoration: none;
}

.hero-img-box {
  background-image: linear-gradient(rgba(255,20,147, 0.5), rgba(0, 0, 0, 0.8)), url("../images/hero-bg-3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-p-txt-box-register {
  font-size: 1rem;
  margin-top: 55px;
}

.h1-register {
  font-size: 1.5rem;
  margin-top: -25px;
}

.hero-txt-span {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.form-register {
  font-size: 1rem;
  text-align: left;
}

.frm-register-lbl {
  font-family: 'Baloo Thambi', cursive;
  padding-left: 18px;
  margin-right: 10px;
}

.frm-register-input {
  width: 77%;
  font-size: 1rem;
  color: white;
  padding: 10px 0px 10px 10px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 3px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
  font-size: 0.9rem;
  color: lightblue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightblue;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightblue;
}

.frm-register-input:hover {
  background-color: #FF1493;
}

.frm-pw-message {
  margin-left: 15%;
  margin-bottom: 5px;
  font-weight: bold;
}

.btn-register {
  width: 300px;
  font-size: 1rem;
  letter-spacing: 10px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid white;
}

.btn-register:hover {
  border: 1px solid #FF1493;
}

.btn-register:focus {
  color: white;
  background: #FF1493;
  border: 1px solid #FF1493;
}

input[type=button]:focus {
  color: white;
  background: #FF1493;
  border: 1px solid #FF1493;
}

.textbox-search {
  width: 100%;
  text-align: center;
  padding-left: 0px !important;
}

.link-more {
  text-decoration: none;
}

.link-more:hover {
  color: #FF1493;
  cursor: pointer;
}

.img-more {
  width: 40px;
  height: 25px;
}

.btn-upload-project {
  text-align: center;
}

.img-line {
  width: 90%;
  height: 2px;
}